body{
    text-align: center;
}

h1{
    font-weight: bold;
}

#container{
    width: 60%;
    border: 1px solid black

}

#header{
    font-weight: 200;
    color: #fff;
    background-color: blue;
}